.registro-aplicaciones{
    display:grid;
    width: 100%;
    justify-content: center;
    margin: 20px 0px;
}

input{
    width: 100%;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

table{
    margin-top: 15px;
}

.col-registro-aplicaciones th, .col-registro-aplicaciones td{
    padding: 10px;
}

.col-registro-aplicaciones th{
    background-color: #30c5d7;
    color: white;
}

.col-registro-aplicaciones td{
    border: 1px solid #82d7e0;
}